// SASS variable for media query breakpoint
$breakpoint-desktop: 992px;

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.carousel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.carousel {
    display: block;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel__slide {
    margin-left: 0px;
    margin-right: 30px;

    &--featured{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.carousel__slides {
    display: inline-flex;
    left: 0;
    // &--featured{ //May be used if it becomes necessary to center the listings for window minimization
    //     justify-content: center;
    // }
}

.carousel__arrow {
    position: absolute;
    display: block;
    text-align: center;
    color: #111;
    cursor: pointer;
    opacity: .75;
    transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
    background-color: gray;
    width: 3em;
    height: 100%;
    max-height: 375px;
    z-index: 3;

    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: .5;
        background-color: black;
    }

    &--left {
        left: 0px;
    }

    &--right {
        right: 0px;
    }
}

.center__icon {
    top: 50%;
}
