#discovery {
    position: relative;
    padding-top: 96px;
    margin: 0 auto;
    min-width: 768px;
    /*-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);*/

    h4 {
        color: $gray;
        font-weight: bold;
        font-size: 14pt;
        display: inline-block;
    }

    .facet-group {
        margin: 0;
        border-bottom: 1px solid $gray-lighter;

        + .facet-group {
            margin-top: 20px;
        }

        ul {
            margin-left: 10px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    li {
        position: relative;
        line-height: 2.5em;

        &.facet-group-item {
            cursor: pointer;
            padding-left: 25px;

            &:hover, &:focus{
              border-left-color: $blue;
            }
        }

        &.active {
            color: $blue;
            border-left-color: $blue;
        }
    }

    .tag_subscribe {
        visibility: visible;
        cursor: pointer;
        color: #ecc44d;
        padding-left: 8px;
    }

    .divider {
        padding-left: 8px;
    }

    .sidebar {

        li {
            border-left: transparent 5px solid;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            i.icon-shopping {
                @extend .icon-shopping-grayDarker;
                top: 3px;
            }

            &:hover, &:focus {
                color: $blue-dark;
                border-left-color: $blue;

                > i.icon-shopping {
                    @extend .icon-shopping-blueDark;
                }

                > span:first-child {
                  max-width: 60%;
                  display: inline-block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  height: 23px;
                }

                > span.subscribe {
                    visibility: visible;
                    color: gray;
                    font-size: 75%;
                    padding-right: 10px;
                    right: 0px;
                    position: absolute;
                }
            }

            &.active {
                background-color: $white;
                color: $blue-dark;
                border-left-color: $blue;
                font-weight: bold;

                &:hover, &:focus {
                    background-color: $white;
                    border-left-color: $blue;
                }

                > i.icon-shopping {
                    @extend .icon-shopping-blueDark;
                }
            }

            > span.subscribe {
                visibility: hidden;
            }
        }
    }

    > .content {
        padding: 30px;
        min-height: 500px;
    }

    .sortBy {
        border: 1px solid #dbdcdd;
        width: 190px;
        border-radius: 0;
        box-shadow: none;
        height:27px;
        float: right;
        display: inline-block;
        top: 5px;

        > button {
            padding-top: 4px;
            height: 27px;
        }

        > .react-select-box {

            > .react-select-box-label {
                font-size: inherit;
                font-weight: 400;
                line-height: 19px;
                color: $gray-dark;

                & .react-select-box-empty {
                    color: $gray-dark;
                }
            }
        }

        > .react-select-box::after {
            top: 8px;
        }

        > .react-select-box-options {
            margin: 0;
            border-radius: 0;
            box-shadow: none;
            border: 0;
            background: $gray-lightest;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        > .react-select-box-clear {
            top: 20px;
            background-color: $white;

            &:before{
                background-color: transparent;
                @extend .icon-cross-14-grayDark;
                content: ' ';
            }

        }

    }

    .resultsDiv {
        display: inline-block;
    }
}

.ariaTip {
    display: none;
}

.shareLink{
    color: $blue-darker;
    font-size: 10pt;
    cursor: pointer;
    font-weight: normal;
}

.Discovery__NewArrivals, .Discovery__MostPopular, .Discovery__Recommended {
    margin-top: 40px;
}

.listings {
    padding: 0;
    overflow: hidden;
}

.carousel {
    .SearchListingTile {
        margin-bottom: 0;
    }
}
